.track-container {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 75px;
  transition: opacity 5s ease;
  opacity: 1;
  visibility: visible;
};

.track-container-hidden {
  opacity: 0;
  visibility: hidden;
};

.track-container:hover {
    width: 300px;
}
