h1 {
  color: white;
  font-family: nasaFont;
  opacity: 1;
  position: absolute;
}

.wrapper {
  height: 100vh;
  background-color: #000;
  position: relative;
}

.hideUntilLoaded {
  visiblility: hidden;
  opacity: 0;
}