*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

a:link {
  color: #bbb;
}

a:visited {
  color: #888;
}

a:hover {
}

a:active {

}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #image,
#tab2:checked ~ #nlp,
#tab3:checked ~ #about {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

.modal {
  background-color: rgba(0,0,0,0.7);
  border-radius: 5px;
  max-width: 1000px;
  min-width: 320px;
  min-height: 300px;
  margin: 0 auto;
  padding: 50px;
  position: relative;
  color: white;
  line-height: 1.5px;
  font-family: Arial;
  letter-spacing: 1.7px;
};

.informationIcon {
  position: absolute;
  bottom: 2px;
  right: 0px;
  filter: grayscale(50%);
};

.imageHeader, .trackHeader, .songOverview{
  font-size: 25px;
  padding-bottom: 0.3em;
};

.trackArtist, .trackAlbum,{
  display: inline-block;
}

.trackArtist {
  padding-right: 20px;
}

.closeIcon {
  position: absolute;
  top: 0px;
  right: 2px;
}

ul {
  list-style: none;
}

li {
  margin: 20px 0;
}
